* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: larger;
    text-align: center;
}

body {
    background-image: url(./img/durianBackground.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: brown;
    display: flex;
    justify-content: center;
    padding: 40px;
    align-self: stretch;
}

nav {
    display: flex;
    gap: 35px;
}

button {
    padding: 20px;
    border: 5px solid rgb(3, 73, 3);
    border-radius: 15px;
    background-color: goldenrod;
}

div#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: beige;
    padding: 40px;
    gap: 50px;
}

div#content > * {
    border: 15px solid rgb(3, 73, 3);
    border-radius: 15px;
    background-color: goldenrod;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    padding: 20px;
}

div#content > img {
    width: 50%;
    height: 50%;
}